.navbar{
    background-color: #415feb;
}
.bankicon{
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.buttonlog{
    color: white;
    width: 100%;
    background-color: black;
    margin-top: 15px;
    transition: .2s;
}
.buttonlog:hover{
    background-color: #390da0;
}
.colright{
    /* padding-top: 60px;
    padding-right:40px; */
    padding:80px 70px 0px 0px;
}
.formstyle{
    box-shadow:2px 2px 10px ;
    border-radius:20px;
    transition:.4s;
    
}
.formstyle:hover{
    box-shadow:2px 2px 20px  #415feb;

}